#
# /etc/hostapd.conf
#
# 2018-10-03
# Based on https://phabricator.vyos.net/T452
#

interface={{ hostapd.wifi_interface | mandatory }}
bridge={{ hostapd.bridge_interface | mandatory }}
driver={{ hostapd.wifi_driver }}
ctrl_interface={{ hostapd.ctrl_interface }}

ssid={{ hostapd.ssid | mandatory }}

max_num_sta={{ hostapd.max_num_sta }}
hw_mode=a
channel=36
country_code=CH
ieee80211d=1
ieee80211h=1

beacon_int=100
dtim_period=2
max_num_sta=32
rts_threshold=2347

{% if 'n' in hostapd.phy_standards %}
ieee80211n=1
ht_capab=[HT40+][LDPC][SHORT-GI-20][SHORT-GI-40][TX-STBC][RX-STBC1][DSSS_CCK-40]
{% endif %}

{% if 'ac' in hostapd.phy_standards %}
ieee80211ac=1
vht_capab=[MAX-MPDU-11454][RXLDPC][SHORT-GI-80][TX-STBC-2BY1][RX-STBC-1][MAX-A-MPDU-LEN-EXP3][RX-ANTENNA-PATTERN][TX-ANTENNA-PATTERN][BF-ANTENNA-2][SOUNDING-DIMENSION-2][VHT-LINK-ADAPT3]
vht_oper_chwidth=1
vht_oper_centr_freq_seg0_idx=42
local_pwr_constraint=3
{% endif %}

tx_queue_data3_aifs=7
tx_queue_data3_cwmin=15
tx_queue_data3_cwmax=1023
tx_queue_data3_burst=0
tx_queue_data2_aifs=3
tx_queue_data2_cwmin=15
tx_queue_data2_cwmax=63
tx_queue_data2_burst=0
tx_queue_data1_aifs=1
tx_queue_data1_cwmin=7
tx_queue_data1_cwmax=15
tx_queue_data1_burst=3.0
tx_queue_data0_aifs=1
tx_queue_data0_cwmin=3
tx_queue_data0_cwmax=7
tx_queue_data0_burst=1.5

wmm_enabled=1
uapsd_advertisement_enabled=1
wmm_ac_bk_cwmin=4
wmm_ac_bk_cwmax=10
wmm_ac_bk_aifs=7
wmm_ac_bk_txop_limit=0
wmm_ac_bk_acm=0
wmm_ac_be_aifs=3
wmm_ac_be_cwmin=4
wmm_ac_be_cwmax=10
wmm_ac_be_txop_limit=0
wmm_ac_be_acm=0
wmm_ac_vi_aifs=2
wmm_ac_vi_cwmin=3
wmm_ac_vi_cwmax=4
wmm_ac_vi_txop_limit=94
wmm_ac_vi_acm=0
wmm_ac_vo_aifs=2
wmm_ac_vo_cwmin=2
wmm_ac_vo_cwmax=3
wmm_ac_vo_txop_limit=47
wmm_ac_vo_acm=0
disassoc_low_ack=1

wpa=2
wpa_key_mgmt=WPA-EAP
wpa_pairwise=CCMP TKIP
auth_algs=1
macaddr_acl=0
ieee8021x=1
eapol_version=2

{% if 'eap' in hostapd %}
eap_message={{ hostapd.eap.message }}
eap_server=1
eap_user_file=/etc/hostapd/hostapd.eap_user

ca_cert={{ hostapd.eap.ca_cert }}
dh_file={{ hostapd.eap.dh_file }}
server_cert={{ hostapd.eap.server_cert }}
private_key={{ hostapd.eap.private_key }}
check_crl=1
{% endif %}

