
# IPv4 Firewall

{% for table in iptables.tables %}

*{{ table.name | lower }}
{% for chain in table.chains %}
{% if chain.policy is defined %}
:{{ chain.name | upper  }} {{ chain.policy | upper }} [0:0]
{% endif %}
{% endfor %}

{% for chain in table.chains %}
{% for rule in chain.rules | default([]) %}
{% if rule.ipv4 | default(rule.rule) is defined %}
-A {{ chain.name | upper }} {{ rule.ipv4 | default(rule.rule) }}
{% endif %}
{% endfor %}

{% endfor %}
COMMIT

{% endfor %}
