[Unit]
Description=Initialize LED {{ item }}
Before=apu-led-{{ item }}.service

[Service]
Type=oneshot
RemainAfterExit=false
{% if apu_leds['led_' + item|string ].inverted | default(False) %}
ExecStart=/usr/local/bin/apu-led {{ item }} 1
{% else %}
ExecStart=/usr/local/bin/apu-led {{ item }} 0
{% endif %}

[Install]
WantedBy=apu-led-{{ item }}.service
