[Unit]
Description=Turn {%if apu_leds['led_' + item|string ].inverted | default(False) %}off{% else %}on{% endif %} LED {{ item }} when {{ apu_leds['led_' + item|string ].unit }} is active
BindsTo={{ apu_leds['led_' + item|string ].unit }}
After={{ apu_leds['led_' + item|string ].unit }}

[Service]
Type=oneshot
RemainAfterExit=true
{% if apu_leds['led_' + item|string ].inverted | default(False) %}
ExecStart=/usr/local/bin/apu-led {{ item }} 0
ExecStop=/usr/local/bin/apu-led {{ item }} 1
{% else %}
ExecStart=/usr/local/bin/apu-led {{ item }} 1
ExecStop=/usr/local/bin/apu-led {{ item }} 0
{% endif %}

[Install]
WantedBy={{ apu_leds['led_' + item|string ].unit }}
