
{% for iface in network.interfaces %}
{% if 'ipv4' in iface %}
{% for addr in iface.ipv4.addresses | default([]) %}
subnet {{ addr | ipaddr('network') }} netmask {{ addr | ipaddr('netmask') }} {
{% if iface.ipv4.dhcp_server | default(False) %}
{% if iface.link.mtu is defined %}
  option interface-mtu {{ iface.link.mtu }};
{% endif %}
{% if iface.ipv4.domain_name is defined %}
  option domain-name "{{ iface.ipv4.domain_name }}";
{% endif %}
{% if iface.dns_server | default(False) %}
  option domain-name-servers {{ addr | ipaddr('address') }};
{% endif %}
  option routers {{ addr | ipaddr('address') }};
  range {{ iface.ipv4.dhcp_range.min | ipaddr('address') }} {{ iface.ipv4.dhcp_range.max | ipaddr('address') }};
{% endif %}
}

{% endfor %}
{% endif %}
{% endfor %}
