
{% for iface in network.interfaces %}
{% if 'ipv6' in iface %}
{% for addr in iface.ipv6.addresses | default([]) %}
subnet6 {{ addr | ipaddr('network/prefix') }} {
{% if iface.ipv6.dhcp_server | default(False) %}
{% if iface.link.mtu is defined %}
  option interface-mtu {{ iface.link.mtu }};
{% endif %}
{% if iface.ipv6.domain_name is defined %}
  option domain-name "{{ iface.ipv6.domain_name }}";
{% endif %}
{% if iface.dns_server | default(False) %}
  option domain-name-servers {{ addr | ipaddr('address') }};
{% endif %}
  option routers {{ addr | ipaddr('address') }};
  range6 {{ iface.ipv6.dhcp_range.min | ipaddr('address') }} {{ iface.ipv6.dhcp_range.max | ipaddr('address') }};
{% endif %}
}

{% endfor %}
{% endif %}
{% endfor %}
