
{% for iface in network.interfaces %}
{% if 'ipv6' in iface and iface.ipv6.ra | default(False) %}
interface {{ iface.name }} {
  AdvSendAdvert on;
  MinRtrAdvInterval 3;
  MaxRtrAdvInterval 10;
{% if iface.link.mtu is defined %}
  AdvLinkMTU {{ iface.link.mtu }};
{% endif %}
{% for addr in iface.ipv6.addresses %}
  prefix {{ addr | ipaddr('host/prefix') | ipaddr('subnet') }} {
    AdvOnLink on;
    AdvAutonomous on;
    AdvRouterAddr on;
  };
{% endfor %}
{% if iface.dns_server | default(False) %}
  RDNSS {% for addr in iface.ipv6.addresses %}{{ addr | ipaddr('address') }} {% endfor %}{ };
{% endif %}
};
{% endif %}
{% endfor %}
