
[Match]

Name={{ item.name }}

[Link]

RequiredForOnline={{ item.link.online_required | default('no') }}

[Network]

{% if 'bridge' in item.link  %}
Bridge={{ item.link.bridge }}
{% endif %}
{% if 'tunnel' in item.link  %}
Tunnel={{ item.link.tunnel }}
{% endif %}

{% if 'ipv4' in item and 'ipv6' in item and item.ipv4.dhcp | default(False) and item.ipv6.dhcp | default(False) %}
DHCP=yes
{% elif 'ipv4' in item and item.ipv4.dhcp | default(False) %}
DHCP=ipv4
{% elif 'ipv6' in item and item.ipv6.dhcp | default(False) %}
DHCP=ipv6
{% else %}
DHCP=no
{% endif %}

{% if 'ipv4' in item %}
{% for addr in item.ipv4.addresses | default([]) %}
Address={{ addr }}
{% endfor %}
{% endif %}

{% if 'ipv6' in item %}
{% for addr in item.ipv6.addresses | default([]) %}
Address={{ addr }}
{% endfor %}
{% endif %}

{% if 'ipv4' in item %}
{% for gw in item.ipv4.gateways | default([]) %}
Gateway={{ gw }}
{% endfor %}
{% endif %}

{% if 'ipv6' in item %}
{% for gw in item.ipv6.gateways | default([]) %}
Gateway={{ gw }}
{% endfor %}
{% endif %}

{% if 'ipv4' in item %}
{% for route in item.ipv4.routes | default([]) %}
[Route]
Destination={{ route.prefix | mandatory | ipaddr('network/prefix') }}
Gateway={{ route.gateway | mandatory | ipaddr('address') }}
PreferredSource={{ route.preferred_source | mandatory | ipaddr('address') }}
{% endfor %}

{% endif %}

{% if 'ipv6' in item %}
{% for route in item.ipv6.routes | default([]) %}
[Route]
Destination={{ route.prefix | mandatory | ipaddr('network/prefix') }}
Gateway={{ route.gateway | mandatory | ipaddr('address') }}
PreferredSource={{ route.preferred_source | mandatory | ipaddr('address') }}
{% endfor %}

{% endif %}
