
[NetDev]

Name={{ item.name | mandatory }}
Kind={{ item.link.kind | mandatory }}

{% if item.link.kind == 'sit' %}
[Tunnel]
{% if 'tun_local' in item.link %}
Local={{ item.link.tun_local }}
{% endif %}
Remote={{ item.link.tun_remote | mandatory }}
{% endif %}
