
{% for iface in network.interfaces %}
acl {{ iface.name }} {
{% if 'ipv6' in iface %}
{% for addr in iface.ipv6.addresses | default([]) %}
    {{ addr | ipaddr('network/prefix') }};
{% endfor %}
{% endif %}
{% if 'ipv4' in iface %}
{% for addr in iface.ipv4.addresses | default([]) %}
    {{ addr | ipaddr('network/prefix') }};
{% endfor %}
{% endif %}
};

{% endfor %}


controls { };

options {

    directory "/var/named";
    pid-file "/run/named/named.pid";

    listen-on-v6 {
        ::1;
{% for iface in network.interfaces %}
{% if 'ipv6' in iface %}
{% for addr in iface.ipv6.addresses | default([]) %}
        {{ addr | ipaddr('address') }};
{% endfor %}
{% endif %}
{% endfor %}
    };
    listen-on {
        127.0.0.1;
{% for iface in network.interfaces %}
{% if 'ipv4' in iface %}
{% for addr in iface.ipv4.addresses | default([]) %}
        {{ addr | ipaddr('address') }};
{% endfor %}
{% endif %}
{% endfor %}
    };

    allow-recursion {
        localhost;
{% for iface in network.interfaces %}
{% if iface.dns_server | default(False) %}
        {{ iface.name }};
{% endif %}
{% endfor %}
    };

    allow-query {
        localhost;
{% for iface in network.interfaces %}
{% if iface.dns_server | default(False) %}
        {{ iface.name }};
{% endif %}
{% endfor %}
    };

    allow-transfer { none; };
    allow-update { none; };

    auth-nxdomain no;

    version "3.1415";
    hostname "fluffy";
    server-id none;

    dnssec-enable yes;
    dnssec-validation auto;

};

view root {
    match-destinations {
        ::1;
        127.0.0.1;
    };

    zone "localhost" IN {
        type master;
        file "localhost.zone";
    };

    zone "0.0.127.in-addr.arpa" IN {
        type master;
        file "127.0.0.zone";
    };

    zone "1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.ip6.arpa" {
        type master;
        file "localhost.ip6.zone";
    };

    zone "255.in-addr.arpa" IN {
        type master;
        file "empty.zone";
    };

    zone "0.in-addr.arpa" IN {
        type master;
        file "empty.zone";
    };

    zone "." {
        type slave;
        file "rootzone.db";
        notify no;
        masters {
            # lax.xfr.dns.icann.org.
            192.0.32.132;         
            2620:0:2d0:202::132;
            # iad.xfr.dns.icann.org.
            192.0.47.132;
            2620:0:2830:202::132;
        };
    };
};

view recursive {
    dnssec-validation auto;
    allow-recursion { any; };
    recursion yes;
    zone "." {
        type static-stub;
        server-addresses {
            ::1;
            127.0.0.1;
        };
    };
};
