#!/bin/bash

SECRET="{{ tunnelbroker_update.secret | mandatory }}"
USERNAME="{{ tunnelbroker_update.username | mandatory }}"
TUNNELID="{{ tunnelbroker_update.tunnel_id | mandatory }}"

curl "https://${USERNAME}:${SECRET}@ipv4.tunnelbroker.net/nic/update?hostname=${TUNNELID}"
